
<div class="grid grid-nogutter surface-section text-800 mt-6">

    <div class="col-12 md:col-6 lg:col-6 text-center md:text-left  md:align-items-center introSection hidden md:flex flex-column justify-content-center">
        <section class=" hidden md:flex z-5 p-6 flex flex-column justify-content-center align-items-center">
            <span class=" companyName_web  block text-5xl lg:text-6xl xl:text-7xl font-bold mb-1">New You Cosmetologie</span>
            <div class="flex justify-content-center">
                <span
                  class="hr-before-web"
                  [ngClass]="{'bg-black' : layoutService.config().colorScheme === 'light', 'bg-white' : layoutService.config().colorScheme === 'dark'}"></span>
                <h2 class="mainTitleSlogan mt-0 text-xl font-bold mb-3 uppercase">CLINIC & ACADEMY</h2>
                <span
                  [ngClass]="{'bg-black' : layoutService.config().colorScheme === 'light', 'bg-white' : layoutService.config().colorScheme === 'dark'}"
                  class="hr-after-web"></span>
            </div> 
            <p class="mt-0 mb-4 text-700 line-height-3 pr-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </section>

    </div>

    <div class="col-12 md:col-6 lg:col-6 overflow-hidden lg:overflow-visible  introImage">
        <img src="assets/main/images/gallery/images/home_intro_{{ layoutService.isMyMobile() ? 'mobile' : 'web' }}.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(18% 0, 100% 0%, 100% 100%, 0 130%); float: right">
    </div>

    <div class="col-12 md:col-6 lg:col-5 xs:p-0 sm:p-6 text-center md:text-left flex flex-column-reverse align-items-center introSection block md:hidden">
        <section class=" hidden md:block z-5 p-6 w-full flex flex-column justify-content-center align-items-center">
            <span class=" companyName_mobile  block text-5xl lg:text-6xl xl:text-7xl font-bold mb-1">New You Cosmetologie</span>
            <div class="flex justify-content-center w-full">
                <span
                  class="hr-before-mobile"
                  [ngClass]="{'bg-black' : layoutService.config().colorScheme === 'light', 'bg-white' : layoutService.config().colorScheme === 'dark'}"></span>
                <h2 class="mainTitleSlogan mt-0 text-sm font-bold mb-3 uppercase">CLINIC & ACADEMY</h2>
                <span
                  [ngClass]="{'bg-black' : layoutService.config().colorScheme === 'light', 'bg-white' : layoutService.config().colorScheme === 'dark'}"
                  class="hr-after-mobile"></span>
            </div> 
            <p class="mt-0 mb-4 text-700 line-height-3 pr-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </section>
    </div>

</div>
<div class="layout-main-container">
    <div class="layout-main">

        <div class="grid">


            <div class="w-full">
                <div class="col-12 mb-6 mt-4 min-content-block">
                    <div pAnimateOnScroll enterClass="fadein" class="card flex flex-column justify-content-around align-content-center text-center p-6 missionStatement animation-duration-1000">
                        <p class="m-0 text-2xl md:text-4xl text-center mb-3 privateHeader">Our mission</p>
                        <p class="text-lg md:text-xl "><i>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error magnam rem accusantium. Nisi rerum nesciunt, voluptas vero eum molestiae sed veritatis voluptate totam placeat nemo consequuntur est cupiditate dicta iure!</i></p>
                        <hr>
                        <p class="mt-4  text-lg md:text-xl">Talk to our experts<br> to find the best treatment for you</p>
                        <!-- <p-button label="Book free consultation" class="align-self-center p-button-rounded font-medium p-button-raised"/> -->
				        <!-- <button pButton pRipple type="button" label="Book free consultation" class="p-button-rounded"></button> -->
                        <!-- <button
                            pButton
                            pRipple
                            type="button"
                            label="Book free consultation"
                            class="p-button-rounded p-button-info changeThemeButton shadow-3 btnGeneral align-self-center"
                            >
                        </button> -->
                    <button
                      pButton
                      pRipple
                      label="Book free consultation"
                      class="btnGeneral align-self-center font-bold px-5 py-3 mb-3 shadow-3 p-button-rounded white-space-nowrap">
                    </button>

                    </div>
                </div>
            </div>

            <!-- <div class="w-full">
                <div class="col-12 mb-6 mt-4 min-content-block">
                    <div style="background-color: var(--gray-200)" class="card flex justify-content-around align-content-center text-center">
                        <p class="m-0 text-xl">Talk to our experts<br> to find the best treatment for you</p>
                        <p-button label="Book free consultation" class="align-self-center p-button-rounded"/>
				        <button pButton pRipple type="button" label="Book free consultation" class="p-button-rounded"></button>

                    </div>
                </div>
            </div> -->

            <div  class="col-12 min-content-block animation-duration-1000">
                <div class="flex-column md:flex-row flex align-items-center justify-content-evenly py:4 md:py-8">

                    <div pAnimateOnScroll enterClass="fadein" class="card introCard mb-0 shadow-2 mx-2 animation-duration-1000">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block num text-500 text-5xl font-medium mb-3 pb-8">01</span>
                                <div class="text-900 font-medium text-xl privateHeaderBold">Skincare</div>
                            </div>
                            <!-- <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                            </div> -->
                        </div>
                        <span class="text-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quibusdam? Perferendis odio voluptatem eaque est, doloremque animi id quos minima labore at magni ut natus, sunt consectetur reiciendis ab vero.</span>
                    </div>

                    <div pAnimateOnScroll enterClass="fadein" class="card introCard mb-0 shadow-2 mx-2 my-4 md:my-0 animation-duration-1000">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block num text-500 text-5xl font-medium mb-3 pb-8">02</span>
                                <div class="text-900 font-medium text-xl privateHeaderBold">Treatment</div>
                            </div>
                            <!-- <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                            </div> -->
                        </div>
                        <span class="text-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quibusdam? Perferendis odio voluptatem eaque est, doloremque animi id quos minima labore at magni ut natus, sunt consectetur reiciendis ab vero.</span>
                    </div>

                    <div pAnimateOnScroll enterClass="fadein" class="card introCard mb-0 shadow-2 mx-2 animation-duration-1000">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block num text-500 text-5xl font-medium mb-3 pb-8">03</span>
                                <div class="text-900 font-medium text-xl privateHeaderBold">Aftercare</div>
                            </div>
                            <!-- <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                            </div> -->
                        </div>
                        <span class="text-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quibusdam? Perferendis odio voluptatem eaque est, doloremque animi id quos minima labore at magni ut natus, sunt consectetur reiciendis ab vero.</span>
                    </div>


                </div>
            </div>

            <div pAnimateOnScroll enterClass="fadein" class="block animation-duration-1000">
                <div class="flex mt-5 separator md:my-8 py-3 md:py-8">
                    <div class="min-content-block flex">
                        <div class="image-colLeft col-12 sm:col-6 border-round-xl" style="background-image: url('../../../../assets/main/images/gallery/ai.jpg'); background-size: cover; background-position: center; min-height: 400px;"></div>
                        <div class="col-12 sm:col-6 text-colRight">
                            <p class="pt-3">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repudiandae fugit velit quos corrupti consectetur, modi magnam non aliquam autem possimus dolores suscipit unde amet ratione totam? Molestias tempore facere enim aperiam? Similique et doloribus architecto quae quidem minima fugit numquam accusantium eaque repellendus nesciunt qui vero maxime minus at ex impedit voluptas odit, sint dicta deleniti rem tenetur! Nulla, laboriosam sapiente id accusamus, excepturi perspiciatis illo blanditiis facere est temporibus accusantium enim! Unde, officiis. Blanditiis consectetur suscipit eius! Quis dolore assumenda, laborum animi non deleniti ducimus doloremque nostrum hic unde alias, labore sunt eveniet soluta sed quisquam eum repellat!
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div pAnimateOnScroll enterClass="fadein" class="w-full animation-duration-1000">
                <div class="min-content-block flex py-3 md:py-8 md:mb-8">
                    <div class="col-12 sm:col-6 text-colLeft">
                        <p class="pb-3">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repudiandae fugit velit quos corrupti consectetur, modi magnam non aliquam autem possimus dolores suscipit unde amet ratione totam? Molestias tempore facere enim aperiam? Similique et doloribus architecto quae quidem minima fugit numquam accusantium eaque repellendus nesciunt qui vero maxime minus at ex impedit voluptas odit, sint dicta deleniti rem tenetur! Nulla, laboriosam sapiente id accusamus, excepturi perspiciatis illo blanditiis facere est temporibus accusantium enim! Unde, officiis. Blanditiis consectetur suscipit eius! Quis dolore assumenda, laborum animi non deleniti ducimus doloremque nostrum hic unde alias, labore sunt eveniet soluta sed quisquam eum repellat!
                        </p>
                    </div>
                    <div class="image-colRight col-12 sm:col-6 border-round-xl" style="background-image: url('../../../../assets/main/images/gallery/spa.png'); background-size: cover; min-height: 300px;"></div>
                </div>
            </div>


            <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center animation-duration-1000 mb-0" >
                <div class="mb-3 font-bold text-3xl">
                    <span class="text-900 privateHeaderBold">One Product, </span>
                    <span class="text-blue-600 privateHeaderBold">Many Solutions</span>
                </div>
                <div class="text-700 mb-6">Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.</div>
                <div class="grid">
                    <div pAnimateOnScroll enterClass="fadein" class="col-12 md:col-4 mb-4 px-5 animation-duration-1000">
                        <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                            <i class="pi pi-tag text-4xl text-blue-500"></i>
                        </span>
                        <div class="text-900 text-xl mb-3 font-medium">Natural ingredients</div>
                        <span class="text-700 line-height-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
                    </div>
                    <div pAnimateOnScroll enterClass="fadein" class="col-12 md:col-4 mb-4 px-5 animation-duration-1000">
                        <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                            <i class="pi pi-lock text-4xl text-blue-500"></i>
                        </span>
                        <div class="text-900 text-xl mb-3 font-medium">Younger lookin skin </div>
                        <span class="text-700 line-height-3">Risus nec feugiat in fermentum posuere urna nec. Posuere sollicitudin aliquam ultrices sagittis.</span>
                    </div>
                    <div pAnimateOnScroll enterClass="fadein" class="col-12 md:col-4 mb-4 px-5 animation-duration-1000">
                        <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                            <i class="pi pi-check-circle text-4xl text-blue-500"></i>
                        </span>
                        <div class="text-900 text-xl mb-3 font-medium">Laser hair removal</div>
                        <span class="text-700 line-height-3">Ornare suspendisse sed nisi lacus sed viverra tellus. Neque volutpat ac tincidunt vitae semper.</span>
                    </div>
                    <div pAnimateOnScroll enterClass="fadein" class="col-12 md:col-4 mb-4 px-5 animation-duration-1000">
                        <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                            <i class="pi pi-globe text-4xl text-blue-500"></i>
                        </span>
                        <div class="text-900 text-xl mb-3 font-medium">Browplasty</div>
                        <span class="text-700 line-height-3">Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus.</span>
                    </div>
                    <div pAnimateOnScroll enterClass="fadein" class="col-12 md:col-4 mb-4 px-5 animation-duration-1000">
                        <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                            <i class="pi pi-github text-4xl text-blue-500"></i>
                        </span>
                        <div class="text-900 text-xl mb-3 font-medium">Facelift</div>
                        <span class="text-700 line-height-3">Nec tincidunt praesent semper feugiat. Sed adipiscing diam donec adipiscing tristique risus nec feugiat. </span>
                    </div>
                    <div pAnimateOnScroll enterClass="fadein" class="col-12 md:col-4 md:mb-4 mb-0 px-5 animation-duration-1000">
                        <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                            <i class="pi pi-shield text-4xl text-blue-500"></i>
                        </span>
                        <div class="text-900 text-xl mb-3 font-medium">Trusted by many</div>
                        <span class="text-700 line-height-3">Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus metus aliquam eleifend.</span>
                    </div>
                </div>
            </div>

        <!-- <div class="flex justify-content-center carouselDiv">

            <p-carousel
                class="w-100"
                [value]="userNames"
                [numVisible]="3"
                [numScroll]="3"
                [circular]="true"
                [responsiveOptions]="responsiveOptions"
                >
                    <ng-template let-userName pTemplate="item">
                            <div class="card serviceCard border-1 surface-border border-round m-2 p-3">
                                <div class="mb-3">
                                    <div class="relative mx-auto">
                                        <p-avatar
                                            label="P"
                                            styleClass="mr-2"
                                            size="xlarge"
                                            shape="circle" />
                                        <p-tag
                                            [value]="userName.inventoryStatus"
                                            [severity]="getSeverity(userName.inventoryStatus)"
                                            class="absolute"
                                            [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                                    </div>
                                </div>
                                <div class="mb-3 font-medium">
                                    {{ userName.name }}
                                </div>
                                <div class="flex justify-content-between align-items-center">
                                <div class="mt-0 font-semibold text-xl">
                                    {{ userName.text }}
                                </div>

                                </div>
                            </div>
                    </ng-template>
            </p-carousel>
        </div> -->

        <!-- <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Orders</span>
                        <div class="text-900 font-medium text-xl">152</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">since last visit</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Revenue</span>
                        <div class="text-900 font-medium text-xl">$2.100</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">%52+ </span>
                <span class="text-500">since last week</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Customers</span>
                        <div class="text-900 font-medium text-xl">28441</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">520  </span>
                <span class="text-500">newly registered</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Comments</span>
                        <div class="text-900 font-medium text-xl">152 Unread</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">85 </span>
                <span class="text-500">responded</span>
            </div>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Recent Sales</h5>
                <p-table [value]="products" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Image</th>
                            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                            <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                            <th>View</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-userName>
                        <tr>
                            <td style="width: 15%; min-width: 5rem;">
                                <img src="assets/main/images/userName/{{userName.image}}" class="shadow-4" alt="{{userName.name}}" width="50">
                            </td>
                            <td style="width: 35%; min-width: 7rem;">{{userName.name}}</td>
                            <td style="width: 35%; min-width: 8rem;">{{userName.price | currency:'USD'}}</td>
                            <td style="width: 15%;">
                                <button pButton pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="card">
                <div class="flex justify-content-between align-items-center mb-5">
                    <h5>Best Selling Products</h5>
                    <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>
                <ul class="list-none p-0 m-0">
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Space T-Shirt</span>
                            <div class="mt-1 text-600">Clothing</div>
                        </div>
                        <div class="mt-2 md:mt-0 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-orange-500 h-full" [ngStyle]="{width: '50%'}"></div>
                            </div>
                            <span class="text-orange-500 ml-3 font-medium">%50</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Portal Sticker</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-cyan-500 h-full" [ngStyle]="{width: '16%'}"></div>
                            </div>
                            <span class="text-cyan-500 ml-3 font-medium">%16</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Supernova Sticker</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-pink-500 h-full" [ngStyle]="{width: '67%'}"></div>
                            </div>
                            <span class="text-pink-500 ml-3 font-medium">%67</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Wonders Notebook</span>
                            <div class="mt-1 text-600">Office</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-green-500 h-full" [ngStyle]="{width: '35%'}"></div>
                            </div>
                            <span class="text-green-500 ml-3 font-medium">%35</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Mat Black Case</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-purple-500 h-full" [ngStyle]="{width: '75%'}"></div>
                            </div>
                            <span class="text-purple-500 ml-3 font-medium">%75</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Robots T-Shirt</span>
                            <div class="mt-1 text-600">Clothing</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-teal-500 h-full" [ngStyle]="{width: '40%'}"></div>
                            </div>
                            <span class="text-teal-500 ml-3 font-medium">%40</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Sales Overview</h5>
                <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>

            <div class="card">
                <div class="flex align-items-center justify-content-between mb-4">
                    <h5>Notifications</h5>
                    <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>

                <span class="block text-600 font-medium mb-3">TODAY</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Richard Jones
                    <span class="text-700"> has purchased a blue t-shirt for <span class="text-blue-500">79$</span></span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-download text-xl text-orange-500"></i>
                        </div>
                        <span class="text-700 line-height-3">Your request for withdrawal of <span class="text-blue-500 font-medium">2500$</span> has been initiated.</span>
                    </li>
                </ul>

                <span class="block text-600 font-medium mb-3">YESTERDAY</span>
                <ul class="p-0 m-0 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Keyser Wick
                    <span class="text-700"> has purchased a black jacket for <span class="text-blue-500">59$</span></span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-question text-xl text-pink-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Jane Davis<span class="text-700"> has posted a new questions about your userName.</span></span>
                    </li>
                </ul>
            </div>

            <div class="px-4 py-5 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3" [ngStyle]="{borderRadius: '1rem', background: 'linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%)'}">
           <div>
               <div class="text-blue-100 font-medium text-xl mt-2 mb-3">TAKE THE NEXT STEP</div>
               <div class="text-white font-medium text-5xl">Try PrimeBlocks</div>
           </div>
           <div class="mt-4 mr-auto md:mt-0 md:mr-0">
               <a target="_blank" href="https://www.primefaces.org/primeblocks-ng" class="p-button font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised">
                   Get Started
               </a>
           </div>
        </div>
    </div>
</div> -->

</div>
</div>

